@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
:root{
    --background1: rgb(16,16,16);
    --background-menu: rgb(39, 39, 39);
    --footer: rgb(24, 24, 24);
    --basicBlack: #171515;
    --secondTextColor: rgb(120, 179, 45);
}
*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background1);
}
h1{
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    margin: 100px 0;
    letter-spacing: 5px;
    text-shadow: 1px 1px 5px black;
    color: var(--secondTextColor);
}
main{
    border-radius: 2px;
    width: 90%;
    box-shadow: 2px 2px 10px 2px black;
    border-radius: 10px;
    margin: 0 auto;
    overflow: hidden;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--secondTextColor);
    padding: 30px;
    text-align: center;
    background-color: var(--footer);
}
footer a{
    color: white;
    transition: color 200ms;
}
footer a:hover{
    color: var(--secondTextColor);
}
.menubtns{
    background-color: var(--background-menu);
    margin-bottom: 0px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.menubtns span{
    text-align: right;
    color: var(--secondTextColor);
}
#errorMsg{
    color: red;
    font-size: 15px;
    text-align: left;
    margin-left: 5px;
}
#search{
    padding: 5px;
    width: 400px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(89, 89, 89);
    border: 1px solid black;
}
.searchbox{
    display: flex;
}
.searchBtn{
    margin-left: 10px;
    font-size: 15px;
    padding: 10px;
    justify-self: flex-start;
    background-color: transparent;
    color: var(--secondTextColor);
    border: 2px solid var(--secondTextColor);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: color 200ms, background-color 200ms;
}
.searchBtn:hover{
    color: white;
    background-color: var(--secondTextColor);
}
.userslist{
    list-style-type: none;
}
.userslist li{
    display: flex;
    height: 75px;
    padding: 10px;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--basicBlack);
}
.hide{
    display: none;
}
.userlist li:last-child{
    border: none;
}
.userImg{
    width: 70px;
}
.userdetails{
    flex-grow: 0.9;
}
.username{
    font-size: 18px;
    color: black;
    font-weight: bold;
    display: inline;
    border-bottom: 2px solid rgb(89, 89, 89);
}
.followers{
    margin-right: auto;
}
.btns{
    display: flex;
    gap: 10px;
}
.goToProfile{
    width: 100px;
    background-color: var(--basicBlack);
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 5px solid #141313;
    border-radius: 10px;
    transition: background-color 200ms, border-color 200ms;
}
.goToProfile:hover{
    background-color: var(--secondTextColor);
    border-color: var(--secondTextColor);
}
.goToProfile img{
    width: 35px;
}
.accCreated{
    margin-right: 10px;
}
.twitter{
    background-color: #1DA1F2;
    border-color: #1b9dee;
}
@media screen and (max-width: 1024px){
    .accCreated{
        display: none;
    }
    .followers{
        display: none;
    }
    .menubtns span{
        margin-left: 10px;
        font-size: 19px;
    }
}
@media screen and (max-width: 768px){
    .menubtns{
        display: block;
    }
    #search{
        width: 100%;
    }
    .menubtns span{
        text-align: left;
        display: block;
    }
}
@media screen and (max-width: 425px){
    .menubtns{
        border-bottom: 2px solid black;
    }
    .menubtns span{
        position: absolute;
        top: 190px;
        text-align: center;
        left: 50%;
        width: 95%;
        transform: translateX(-50%);
    }
    .username{
        border: none;
        margin-right: 10px;
    }
    .goToProfile{
        padding: 5px;
        width: 75px;
    }
    .bio{
        display: none;
    }
}
@media screen and (max-width: 420px) {
    .menubtns span{
        top: 250px;
    }
}